<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>276770424446-20ev6klkeuiuch7gdkd8iej4c3rg5d0a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.276770424446-20ev6klkeuiuch7gdkd8iej4c3rg5d0a</string>
	<key>API_KEY</key>
	<string>AIzaSyDukDGF7vTlzsLWokJx9qqalm59zTFxz4Y</string>
	<key>GCM_SENDER_ID</key>
	<string>276770424446</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.poloski.PharmaIoT</string>
	<key>PROJECT_ID</key>
	<string>pharmaiot</string>
	<key>STORAGE_BUCKET</key>
	<string>pharmaiot.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:276770424446:ios:e4cd5457d7e536a5d4ba2f</string>
</dict>
</plist>